name: Roq Site Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate Roq Site
        uses: quarkiverse/quarkus-roq@v1
        with:
          github-pages: false
      - name: Include netlify.toml in build output
        run: cp netlify.toml target/roq/
      - name: Upload site artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: target/roq
          retention-days: 3
  deploy:
    runs-on: ubuntu-latest
    needs: build
    name: 'Deploy to Netlify'
    steps:
      - name: Download site artifact
        uses: actions/download-artifact@v4
        with:
          name: site
          path: site
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3
        with:
          publish-dir: './site'
          production-deploy: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}